<!-- About Section -->
<section id                   ="about">
    <div class                ="container">
        <div class            ="row">
            <div class        ="col-lg-12 text-center">
                <h2>About</h2>
                <hr class     ="star-primary">
            </div>
        </div>
        <div class            ="row">
            <div class        ="col-lg-4 col-lg-offset-2">
                <p>
                  I am passionate about Data Science, Machine Learning, and
                  Data Visualization. Recently I completed a
                  <a href     ="/blog/tag/100daysofcode/">100 days of code</a>
                  challenge producing and sharing work related to data science
                  ever day for 100 days. I am also on the organizing committee
                  for <a href ="http://www.hackseq.com">hackseq17</a>,
                  a genomics hackathon in October.
                </p>
                <p>
                  Previously I worked on the classification of tissue types
                  using neural networks, the modelling of epigenetic states
                  in the human thyroid, and literature-based
                  knowledge discovery in biomedical text.
                </p>
            </div>
            <div class        ="col-lg-4">
             <p>
               I completed a MSc in Computational Biology at the
               <a href        ="http://bcbioinformaticsgrad.ca">University
                 of British Columbia</a> and previously worked as a
               Bioinformatics Research Assistant at the
               <a href="http://molonc.bccrc.ca/shah-lab/personnel/">BC Cancer Agency</a>
               for a year before starting my Master's. I am co-authored in
               <a href="https://scholar.google.ca/citations?user=JYYNokd_16EC&hl=en">
                 7 publications</a> in the general field of Bioinformatics.
             </p>
             <p>
               I volunteered to help out at Software Carpentry workshops and
               am always interested in new opportunities.
               Please contact me by twitter
               <a href="https://twitter.com/celiassiu">@celiassiu</a>.
             </p>
            </div>
        </div>
    </div>
</section>
