<!-- CV Aside -->
<aside id="cv">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted">
                    For a copy of my curriculum vitae, please see my downloadable PDF.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12 text-center">
                    <a href="{{ site.url }}/CV/csiu-cv.pdf">
                        <button type="submit" class="btn btn-xl">CV (PDF)</button>
                    </a>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</aside>
