<!-- About Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <!-- <img class="img-circle img-responsive" src="img/about/1.jpg" alt=""> -->
                                <h4>
                                    <i class="fa fa-star fa-4x" aria-hidden="true"></i>
                                    <br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007-2010</h4>
                                    <h4 class="subheading">Cashier at A&W</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Like most people, I started out with an entry level job in the fast food service. Back then I was super shy, awkward, and not that great at talking with people. Over the 3+ years, I learned the art of small talk and gained some pretty decent communication skills.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!-- <img class="img-circle img-responsive" src="img/about/2.jpg" alt=""> -->
                                <h4>
                                    <i class="fa fa-star fa-4x" aria-hidden="true"></i>
                                    <br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2011</h4>
                                    <h4 class="subheading">Co-op at the Center for High-Throughput Biology (CHiBi)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        During my co-ops at CHiBi, I was a bioinformatics research assistant (8 months) and systems administrator assistant (4 months). I learned what bioinformatics is and how to program using a computer. The best piece of advice I was given, was that "if you find yourself doing the same thing more than 3 times, there is probably a programmatic way of accomplishing the same task."
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <!-- <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""> -->
                                <h4>
                                    <i class="fa fa-star fa-4x" aria-hidden="true"></i>
                                    <br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2013</h4>
                                    <h4 class="subheading">Research assistant at the BC Cancer Agency (BCCA)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        After graduating with a B.Sc., my first non-undergraduate level job was at the BCCA running pipelines, parsing data, and generating results. I met many staff, students, and senior research scientists. I wanted to learn more and so applied to graduate school.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!-- <img class="img-circle img-responsive" src="img/about/4.jpg" alt=""> -->
                                <h4>
                                    <i class="fa fa-star fa-4x" aria-hidden="true"></i>
                                    <br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2014 - Present</h4>
                                    <h4 class="subheading">Graduate school</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Classes, homework, exams. Life as a student is much as I remembered it to be. Despite the similarities, class sizes were smaller, research projects were more collaborative, and the sense of belonging is much greater. I attended a couple conferences, presented a couple posters, and acquired a couple scholarships. But now the journey is nearing its final chapters and I am excited for what the future holds.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <br>The Future
                                    <br></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
